@import 'variables.scss';

.title {
  font-weight: 900;
  margin-top: 150px;
  text-shadow: $secondary-color 2px 3px 0px;
  font-size: 50px;
  color: black;
}

.footer-comment {
  font-size: 25px;
  color: black;
  margin-top: 50px;
  border-bottom: 1px solid black;
}
